body{
    background-color:#BEE8C0;
    background-image: url('./assets/park.jpeg');
    background-position: center;
      background-repeat: no-repeat;
      margin-bottom: 200PX;
      background-size: cover;
      
  }